body {
    background-color: rgb(224,224,224);
    box-sizing: border-box;
}

@-ms-viewport{
    width:device-width;
    height:device-height;
}

#header {
    padding: 10px;
    text-align: center;
    position: center;
    background-color: rgb(245,245,245);
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#HomeNav{
    float: left;

}
#AboutNav{
    float: left;

}
#ProjectsNav{
    float: left;

}
#SkillsNav{
    float:left;

}
#EmpNav{
    float: left;

}

div a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div a:hover {
    background-color:#111;
}