body {
    box-sizing: border-box;
}

@-ms-viewport{
    width:device-width;
    height:device-height;
}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
    text-decoration: none;
}
#card mb-3 {
    position: center;
    background-position: center;
}

#cardBack {
    padding: 25px;
    background-repeat: no-repeat;
    object-fit:fill;
    height: 100%;
    background-image: url(https://cdn.shopify.com/s/files/1/2118/5289/products/EnvyLoops_Interconnected_V2_-_Glow-4K0_3840x.jpg?v=1527308804);
    
}
.card {
    margin-left: auto;
    margin-right: auto;
}


#ProjectsNav {
    /*float: right;*/

}
#EmpNav {
    /*float: right;*/

}
#SkillsNav {
    /*float: right;*/

}
#AboutNav {
    /*float: right;*/

}
#HomeNav {
    /*float: right;*/

}

div a {
    /*display: block;
    color: white;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*color:none;*/
}

div a:hover {
    background-color: #111;
    text-decoration: none;
    padding: 14px 16px;
    color:none;
}

#info {
    background-position: center;
    position:center;
    background-position: center;
    background-color: white;
    height: 300px;
    width: 25%;
}

.alert-light {
    width: auto;
    margin: auto;
    text-align:center;
}
